*,html{
	margin:0;
	padding: 0;
	/*height: 100%;*/
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
img{
	width:100%;
}
/* html{font-size:62.5%;} body{font-size:12px;font-size:1.2rem ;} p,div{font-size:14px;font-size:1.4rem;} */
.topMennu{
	width: 100%;
	height: 3.6rem;
	background-color: #42B983;
	position: fixed;
	top:0px;
	left:0;
	right:0;
	z-index:200;
	overflow: hidden;
}
.menu-list,.goTicketTop{
	box-sizing: border-box;
	float: left;
}
.menu-list{
	width: 60%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.goTicketTop{
	width: 40%;
	text-align: right;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.topMennu span,.goTicketTop span{
	display: inline-block;
	box-sizing: border-box;
	width: 16%;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
	height: 3rem;
	line-height: 2.7rem;
	text-align: center;
	border:1px solid black;
	background-color: white;
	border-radius: 10px;
}
.xgvideo {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
.xgvideo iframe,
.xgvideo object,
.xgvideo embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}