.mainForPc{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	margin-top:3.6rem;
	/*background-color: black;*/
}
.mainForPc .swiper-slide{
	width: 100%;
}
.mainForPc .hdld{
	width: 100%;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	line-height: 3rem;;
}
.mainForPc .hdld-list{
	width: 90%;
	height: auto;
	margin:0 auto;
	padding: 1rem;
	overflow: hidden;
}
.mainForPc .hdld-list-left-box-img{
	width: 100%;
}
.mainForPc .hdld-list-left,.hdld-list-right{
	width: 50%;
	padding: 0.5rem;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float: left;
}
.mainForPc .hdld-list-left-box-img{
	width: 100%;
	color:black;
}
.mainForPc .hdld-list-left-box-text{
	font-size: 0.8rem;
}
.mainForPc .ylld{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}
.mainForPc .ylld-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}
.mainForPc .ylld-list{
	width: calc(99% / 3);
	height: calc(99% / 3);
	box-sizing: border-box;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	overflow: hidden;
	
}
.mainForPc .ylld-list:nth-of-type(3n){ /* 选择个数是3的倍数的元素 */
  margin-right: 0;
}
.mainForPc .ylld-list:nth-of-type(n+7){  /* 选择倒数的三个元素，n可以取0 */
  margin-bottom: 0;
}
.mainForPc .hdgl{
	padding: 1rem;
	line-height: 1.1rem;
	font-size: 0.8rem;
	border:1px solid black;
}
.mainForPc .hdrc-day{
	width: 100%;
}
.mainForPc .hdrc-day span{
	display: inline-block;
	width: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0.1rem;
	height: 2rem;
	line-height:2rem ;
	border-radius: 5px;
	box-sizing: border-box;
	width: 18%;
	text-align: center;
	border:1px solid black;
}
.mainForPc .selected-span{
	background-color:rgb(25,136,203);
	color:white;
	border:none;
}
.mainForPc .hd-table{
	width: 100%;
	margin:0 auto;
	margin-top: 1rem;
	border-collapse:collapse;
}
.mainForPc .hd-table td,.hd-table th{
	border-width: 1px;     
	padding: 0.6rem;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
	text-align: center;
}
.mainForPc .people{
	width: 100%;
}
.mainForPc .people-box{
	width: 25%;
	border-radius: 50%;
	box-sizing: border-box;
	float: left;
}
.mainForPc .people-box img{
	border-radius: 50%;
}
.mainForPc .people-box-pad{
	margin: 1rem;
}
.mainForPc .goTicket{
	position: fixed;
	right:20px;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	/* line-height: 4rem; */
	text-align: center;
	border:1px solid red;
	top:40%;
	background-color: white;
	z-index:100;
}
.mainForPc .goTicket span{
	display: block;
}